@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
     /* F O N T S  */
        font-size: 62.5%;
        --Outfit: "Outfit", sans-serif;


    /* C O L O R*/
        --very-dark-blue-main: hsl(217, 54%, 11%);

        --very-dark-blue-card: hsl(216, 50%, 16%);

        --very-dark-blue-line: hsl(215, 32%, 27%);
        --white: hsl(0, 0%, 100%);
    
}