@import './globol';
/*
- Font size (paragraph): 18px
*/

#container {
    width: 100vw;
    height: 100vh;
    background-color: var(--very-dark-blue-main);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
       

    #contein {
      width: 28rem;
      height: 46rem;
      background-color: var(--very-dark-blue-card);
      border-radius: 1.5rem;  
     
      display: flex;
      flex-direction: column;
      align-items: center;

      
      #image {
        width: 23rem;
        height: 23rem;
        margin-top: 2rem;
        border-radius: .7rem;
        position: relative;
        
          #equilibrium {
            
            width: 100%;
            border-radius: .7rem;
            cursor: pointer;
          }

            
           #view {
             position: absolute;
             margin-top: 9.5rem;
             right: 9.5rem;
             opacity: 0;

             &:hover  {
              opacity: 1;              transition: 1.1s;
              cursor: pointer;

             }
           }   

      }

          
      

        #text {
          width: 80%;
         
          h1 {
            font-size: 1.8rem;
            color: var(--white);
            font-family: var(--Outfit);
            margin: 1rem 0;
          }

          p {
            font-size: 1.3rem;
            font-family: var(--Outfit);
            font-weight: 600;
            color: var(--very-dark-blue-line);
            line-height: 2rem;

            margin: 0 0 1rem 0;
          }
        }

        #icons {
          width: 80%;
          display: flex;
          border-bottom: .05rem solid hsla(215, 26%, 42%, 0.203); 
          padding-bottom: 2rem;
          
          #icon-2 {
            justify-content: end;
          }

          #icon-1, #icon-2 {
            display: flex;
            align-items: center;
            width: 50%;
            height: 2rem;
           
          }

          #icon-1 img, #icon-2 img {
            padding: 0 1rem 0 0;
          }

         
          #icon-1 p, #icon-2 p {
            font-family: var(--Outfit);
            font-size: 1.3rem;
            font-weight: 600;
            color: var(--very-dark-blue-line);
          }
          
          #icon-1 p {
            color: var(--Cyan);
          }
    }

    #user {
      margin: 1.5rem;
      width: 80%;
      display: flex;
      align-items: center;

      

      img {
        width: 3rem;
        border: 1px solid var(--white);
        border-radius: 2rem;
        cursor: pointer;
      }

      p {
        color: var(--white);
        font-size: 1.3rem;
        font-family: var(--Outfit);
        font-weight: 400;
        padding: 0 0 0 1rem;
        cursor: pointer;
        
      }

      span {
        color: var(--very-dark-blue-line);
      }
    }
  }

  #attribution {
    color: white;

    a {
      color: var(--very-dark-blue-line);
      text-decoration: none;
    }
  }
  
}